body{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    min-height: 830px;
    background: white;
}


.nav{
    position: absolute;
    width: 1280px;
    height: 49px;
    left: 125px;
    top: 65px;
    background: transparent;
    float: left;
}

.logo{
    width: 640px;
    height: 49px;
    background: transparent;
    float: left;
}

.menu{
    width: 640px;
    height: 49px;
    background: transparent;
    float: left;
    background: transparent;
}

.menu ul{
    margin: 0;
    padding: 0;
}

.menu ul li{
    position: relative;
    top: 15px;
    left: 325px;
    display: inline;
    padding: 30px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18.78px;
    list-style-type: none;
}

.hero1{
    position: absolute;
    width: 1280px;
    height: 474px;
    left: 125px;
    top: 239px;
    background: transparent;
}

.text{
    width: 640px;
    height: 474px;
    background: transparent;
    float: left;
}

.firstB{
    position: absolute;
    width: 627px;
    height: 120px;
    top: 77px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
}

.firstP{
    margin: 0;
    padding: 0;
    position: absolute;
    width: 585px;
    height: 72px;
    top: 212px;
    font-family: 'Open Sans' serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    margin: 15px 0px 25px 0px;
}

.text input{
    width: 250px;
    height: 35px;
    position: absolute;
    top: 325px;
    box-sizing: border-box;
    border: 1px #07043B;
    box-shadow: rgba(0, 0, 0, 0.15925);
    border-radius: 3px;
}

.text button{
    width: 170px;
    height: 35px;
    position: absolute;
    bottom: 115px;
    left: 266px;
    background: #2F65F8;
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15925);
    border-color: #2F65F8;
    border-radius: 3.125px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    color: white;
}

.hero2{
    width: 640px;
    height: 474px;
    background: transparent;
    float: left;
}

/*Вторая часть*/

.midle{
    position: relative;
    width: 100%;
    height: 835px;
    background: transparent;
}

.backgroundimg{
    width: 1518px;
    height: 855px;
    position: absolute;
    left: 0%;
    right: 0%;
    top: -2.09%;
    bottom: 0.01%;
}

.lmidle{
    width: 50%;
    height: 855px;
    background: transparent;
    float: left;
}

.rmidle{
    width: 50%;
    height: 855px;
    background: transparent;
    float: left;
}

.rmidle img{
    position: absolute;
    top: 220px;
    left: 860px;
}

.lmidle b{
    font-family: 'Raleway', sans-serif;
    position: relative;
    left: 120px;
    top: 195px;
    font-size: 40px;
}

.lmidle p{
    position: relative;
    top: 195px;
    left: 120px;
    font-size: 16px;
    margin: 38px 0px 0px 0px;
}

.lmidle a{
    position: relative;
    top: 210px;
    left: 120px;
    color: green;
    text-decoration: none;
    border-bottom: 1px solid green;
    line-height: 15px;
}

.fa-arrow-circle-right{
    color: green;
    position: relative;
    top: 211.5px;
    left: 123px;
}

.letter{
    width: 356px;
    height: 215px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px 5px rgba(56, 56, 56, 0.0458843);
    border-radius: 5px;
    position: relative;
    top: 260px;
    left: 120px;
}

.letter span{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.5px;
    position: absolute;
    left: 9.27%;
    right: 9.55%;
    top: 22.79%;
    bottom: 34.42%;
}

.letter b{
    position: absolute;
    height: 15px;
    left: 80px;
    top: 150px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.55px;
}

.letter b img{
    position: absolute;
    left: -50px;
}

.letter p{
    position: relative;
    top: 165px;
    left: 80px;
    font-size: 6px;
    margin: 0;
    font-family: 'Open Sans';
}

/*Footer*/

.upper__footer{
    width: 1518px;
    height: 369px;
    background: rgba(87, 89, 136, 1);
    position: relative;
    /* top: -15px; */
}

.l__upper__footer{
    width: 759px;
    height: inherit;
    background: transparent;
    float: left;
}

.r__upper__footer{
    width: 759px;
    height: inherit;
    background: transparent;
    float: left;
}

.r__upper__footer input{
    width: 480px;
    height: 48px;
    background: #FFFFFF;
    box-shadow: 2px 3px 6px rgba(7, 4, 59, 0.157043);
    border-radius: 3px;
    position: absolute;
    top: 155px;
    right: 81px;
    padding-left: 15px;
}

.r__upper__footer button{
    width: 200px;
    height: 48px;
    position: relative;
    left: 175px;
    top: 226px;


    background: #2F65F8;
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15925);
    border-color: #2F65F8;
    border-radius: 3.125px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: white;
}

.l__upper__footer p{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    height: 48px;
    left: 40px;
    top: 100px;
    margin-left: 80px;
}

.l__upper__footer span{
    font-family: 'Open Sans';
    font-weight: 400;
    line-height: 24px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 193px;
    left: 120px;
}

/* Bootom footer */

.bottom__footer{
    width: 1518px;
    height: 391px;
    background: rgba(7, 4, 59, 1);
    position: relative;
}

.l__bottom__footer{
    width: 506px;
    height: 391px;
    position: absolute;
    float: left;
    background: transparent;
    top: 0px;
}

.lg{
    position: absolute;
    top: 92px;
    left: 80px;
}

.fylo{
    position: absolute;
    top: 92px;
    left: 139px;
}

.fa-phone{
    width: 18px;
    color: white;
    position: absolute;
    top: 170px;
    left: 83px;
}

.phone{
    color: white;
    font-family: 'Open Sans';
    font-weight: 400;
    position: absolute;
    top: 148.5px;
    left: 120px;
}

.fa-envelope-square{
    color: white;
    position: absolute;
    top: 213px;
    left: 84px;
}

.mail{
    color: white;
    font-family: 'Open Sans';
    font-weight: 400;
    position: absolute;
    top: 193px;
    left: 120px;
}

.m__bottom__footerr{
    width: 506px;
    height: 391px;
    background: transparent;
    position: absolute;
    left: 506px;
    margin: 0;
    top: 0px;
}

.m__bottom__footerr ul{
    margin: 0;
    padding: 0;
}

.li1{
    font-family: 'Open Sans';
    list-style-type: none;
    position: relative;
    top: 151px;
    left: 120px;
    color: white;
}

.li2{
    font-family: 'Open Sans';
    list-style-type: none;
    position: relative;
    top: 167px;
    left: 120px;
    color: white;
}

.li3{
    font-family: 'Open Sans';
    list-style-type: none;
    position: relative;
    top: 183px;
    left: 120px;
    color: white;
}

.li4{
    font-family: 'Open Sans';
    list-style-type: none;
    position: relative;
    top: 199px;
    left: 120px;
    color: white;
}

.li5{
    font-family: 'Open Sans';
    list-style-type: none;
    position: relative;
    top: 64px;
    left: 320px;
    color: white;
}

.li6{
    font-family: 'Open Sans';
    list-style-type: none;
    position: relative;
    top: 80px;
    left: 320px;
    color: white;
}

.li7{
    font-family: 'Open Sans';
    list-style-type: none;
    position: relative;
    top: 96px;
    left: 320px;
    color: white;
}

.r__bottom__footer{
    position: absolute;
    width: 506px;
    height: 391px;
    background: transparent;
    float: left;
    top: 0;
    right: 0;
}

.fa-facebook{
    font-size: 15px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 4px;
}

.facebook{
    width: 20px;
    height: 20px;
    border: 2px solid white;
    border-radius: 50%;
    position: relative;
    top: 140px;
    left: 80px;
}

.fa-twitter{
    font-size: 15px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 4px;
}

.twitter{
    width: 20px;
    height: 20px;
    border: 2px solid white;
    border-radius: 50%;
    position: relative;
    top: 101px;
    left: 120px;
}

.fa-instagram{
    font-size: 15px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 3px;
}

.instagram{
    width: 20px;
    height: 20px;
    border: 2px solid white;
    border-radius: 50%;
    position: relative;
    top: 62px;
    left: 160px;
}